@media(width <= 1024px){
	nav{
		display: none;
	}
	.header-wrapper{
		display: flex;
  		justify-content: center;
  		height: 185px;
  		padding-bottom: 85px;
	}
	.logo{
		max-width: 97px;
  		max-height: 55px;
	}
	.introduction-logo{
		width: 334px;
		height: 210px;
	}
	.div-introduction-logo{
		display: flex;
  		justify-content: center;
	}
	.section-container{
		transform: translatey(-50px);
		max-width: 1024px;
  		width: 100%;
  		margin: 0 auto;
  		padding: 0 16px;
	}
	.media-h1{
		font-size: 18px;
  		margin-bottom: 40px;
  		font-family: 'Helvetica Neue, Bold';
  		display: flex;
  		justify-content: center;
  	}
  	.media-section-img{
  		display: none;
  	}
  	.example-photos{
  		width: 162px;
		height: 90px;
  	}
  	.example-photos-flex-div{
  		max-width: 375px;
  		width: 100%;
  		margin: 0 auto;
  		display: grid;
  		grid-template-columns: 1fr 1fr;
  		gap: 10px;
  	}
  	.media-p{
  		display: none;
  	}
  	.div-p{
  		gap: 0px;
  	}
  	.p-container{
  		max-width: 375px;
  		width: 100%;
  		margin: 0 auto;
  		margin-top: 40px;
  		margin-bottom: 12px;
  	}
  	.section-p{
  		font-size: 14px;
	}	
  	.button-container{
  		max-width: 334px;
  		margin-bottom: 40px;
	}
	.blue-button{
		font-size: 13px;
	}
	footer{
  		transform: translatey(-50px);
	}
	h2{
		font-size: 18px;
  		padding-top: 30px;
  		margin-bottom: 0px;
	}
	.contact-p{
		display: none;
	}
	.layout{
		display: grid;
	}
	.footer-container{
		max-width: 334px;
		padding: 0px;
	}
	.registration{
  		display: flex;
 		flex-direction: column;
	}
	form{
		order: -1;
		transform: translatey(0px);
		max-width: 334px;
  		width: 100%;
	}
	label{
	  font-size: 13px;
	  padding-top: 40px;
	}
	input{
	  font-size: 13px;
	}
	textarea{
	  font-size: 13px;
	  padding-bottom: 0px;
	}
	.map {
	  max-width: 334px;
	  width: 100%;
	  max-height: 180px;
	  height: 100%;
	  margin-top: 40px;
	  margin-bottom: 40px;
	}
	.div-send{
	  display: flex;
	  justify-content: center;
	  padding-top: 40px;
	  margin-bottom: 105px;
	  max-width: 334px;
	  width: 100%;
	  margin: 0 auto;
}
	}
	.button-send{
	  background-color: #FFFFFF;
	  color: #171717;
	  font-size: 13px;
	  padding-top: 20px;
	  padding-right: 143px;
	  padding-bottom: 19px;
	  padding-left: 135px;
	  border: none;
	  border-radius: 30px;
	  cursor: pointer;
	  outline: none;
	  font-family: 'Helvetica Neue, Bold';
	}
	.ending{
	  flex-direction: column;
	  gap: 30px;
	  padding-bottom: 30px;
	}
	.made{
	  font-size: 13px;
	  padding-right: 17.81px;
	}
	.order-flex{
	  display: flex;
	  flex-direction: column;
	  order: 2;
	}
	.order-p{
	  opacity: 0.6;
	}
	.width{
	  font-size: 13px;
	  padding-left: 13.51px;
	  padding-right: 34.48px;
	}
	.heart-img{
	  width: 19.69px;
	  height: 16.62px;
	}
	.logo-img{
	  width: 121px;
	  height: 35px;
	}
	.logos{
	  order: 1;
	  display: flex;
	  align-items: center;
	}
	.contact-phone-message{
	  margin-bottom: 95.5px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  gap: 35px;
	}
	.phone-background{
	  border-radius: 0px;
	  width: 20px;
	  height: 20px;
	}
	.email-background{
	  border-radius: 0px;
	  width: 20px;
	  height: 18px;
	}
	.phone-logo{
	  transform: translate(0px, 0%);
	  width: 20px;
	  height: 20px;
	}
	.email-logo{
	  transform: translate(0px, 0%);
	  width: 20px;
	  height: 18px;
	}
	.number{
  	  padding-left: 12px;
  	  font-size: 13px;
  	}
	.example-email{
	  padding-left: 12px;
	  font-size: 13px;
	}
}