*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
header{
  background-color: #0A22F4;
}
.logo{
  max-width: 115px;
  max-height: 65px;
}
nav a{
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A22F4;
  padding-top: 40px;
  padding-bottom: 282.56px;
}
.contact-nav{
  position: revert;
  width: 160px;
  height: 55px;
  background-color: #FFFFFF;
  border-radius: 28px;
}
.div-nav-a{
  position: absolute;
  padding-top: 18px;
  padding-right: 36px;
  padding-bottom: 18px;
  padding-left: 36px;
  color: #171717;
}
.underline::after {
  content: '';
  display: block;
  width: 50%; 
  height: 1px; 
  background-color: white;
  margin: 5px auto 0 auto;
}
.section-container{
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
  transform: translatey(-172.56px);
}
.introduction-logo{
  max-width: 1195px;
  max-height: 600px;
  margin-bottom: 30px;
}
h1{
  font-size: 28px;
  margin-bottom: 60px;
}
.example-photos{
  max-width: 219px;
  max-height: 219px;
}
.example-photos-flex-div{
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.p-container{
  max-width: 951px;
  width: 100%;
  margin: 0 auto;
}
.div-p{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.p-margin-bottom{
  margin-bottom: 58px;
}
.blue-button{
  background-color: #0A22F4;
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 18px;
  padding-right: 77px;
  padding-bottom: 18px;
  padding-left: 57px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
.button-container{
  max-width: 341px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 180px;
}
footer{
  background-color: #0A22F4;
  transform: translatey(-172.56px);
}
h2{
  color: #FFFFFF;
  font-size: 32px;
  padding-top: 275px;
  margin-bottom: 30px;
}
.layout{
  display: flex;
  justify-content: space-between;
}
.footer-div{
  max-width: 463px;
  max-height: 99px;
}
.ending{
  display: flex;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.made{
  padding-right: 15px;
}
.width{
  padding-left: 10px;
  padding-right: 30px;
}
.heart-img{
  width: 26px;
  height: 26px;
}
.logo-img{
  width: 121px;
  height: 35px;
}
.logos{
  display: flex;
  align-items: center;
}
.footer-p{
  max-width: 463px;
  max-height: 99px;
}
.contact-p{
  color: #FFFFFF;
  font-size: 16px;
}
.contact-phone-message{
  margin-bottom: 184px;
  display: flex;
  flex-direction: row;
  gap: 98px;
}
.phone{
  max-width: 268px;
  max-height: 70px;
  display: flex;
  align-items: center;
}
.email{
   max-width: 306px;
  max-height: 70px;
  display: flex;
  align-items: center;
}
.phone-background{
  border-radius: 50px;
  background-color: #FFFFFF;
  width: 70px;
  height: 70px;
}
.email-background{
  border-radius: 50px;
  background-color: #FFFFFF;
  width: 70px;
  height: 70px;
}
.phone-logo{
  transform: translate(22px, 90%);
  width: 26px;
  height: 26px;
}
.email-logo{
  transform: translate(22px, 90%);
  width: 26px;
  height: 26px;
}
.number{
  padding-left: 20px;
  color: #FFFFFF;
}
.example-email{
  padding-left: 20px;
  color: #FFFFFF;
}
.map {
  max-width: 463px;
  width: 100%;
  max-height: 197px;
  height: 100%;
  border-radius: 15px;
  margin-top: 58px;
  margin-bottom: 70px;
}
form{
  max-width: 463px;
  width: 100%;
  transform: translatey(-80px);
}
.registration{
  display: flex;
  flex-direction: column;
  gap: 21px;
}
label{
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 41px;
}
input{
  background-color: #0A22F4;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
}
textarea{
  background-color: #0A22F4;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  outline: none;
  resize: none;
  outline: none;
  border-bottom: 0.1px solid white;
  padding-bottom: 60px;
}
.div-send{

}
.button-send{

}